Final_Hackathon_Submission.json
{
  "name": "Final Hackathon Submission",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "43ce0a32-dfb8-47a4-850a-2a9077467cc4",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "file"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -200,
        0
      ],
      "id": "52769cca-1ae0-4232-91d3-fc0f03de217f",
      "name": "Webhook",
      "webhookId": "43ce0a32-dfb8-47a4-850a-2a9077467cc4"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "file0",
        "options": {
          "keepSource": "binary"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        40,
        0
      ],
      "id": "324f6538-a4eb-4aa3-9d45-00df7ec9f65f",
      "name": "Transform video to base64"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"This is raw footage of a video of a product review. Your goal is to help be an expert video editor. Identify timestamps to include in the final video. Cut out any filler words like uh's and um's, remove any stutters or repeated words. Choose the best takes. Timestamps should be formatted as [XX:XX:XX]-[XX:XX:XX].\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"video/mp4\",\n          \"data\": \"{{ $('Transform video to base64').item.json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "7d65dace-a4cd-4a99-9dd9-3b4a6ec93377",
      "name": "Call Gemini API with Video",
      "credentials": {
        "httpQueryAuth": {
          "id": "Y2mx1CD2X1J0JxFZ",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"contents\": [{\n    \"parts\":[\n      {\"text\": \"Transcribe the audio from this video with timestamps. Include the filler words and pause fillers.\"},\n      {\n        \"inline_data\": {\n          \"mime_type\": \"video/mp4\",\n          \"data\": \"{{ $json.data }}\"\n        }\n      }\n    ]\n  }]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        0,
        360
      ],
      "id": "8a210f00-9644-4c21-b96e-a4bd5fa86400",
      "name": "Call Gemini API with Video1",
      "credentials": {
        "httpQueryAuth": {
          "id": "Y2mx1CD2X1J0JxFZ",
          "name": "Query Auth account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.candidates[0].content.parts[0].text }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Follow the structured output using the timestamps."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        660,
        0
      ],
      "id": "ebb012ee-c72e-4c2e-a8cc-ac80ffcb50c6",
      "name": "Basic LLM Chain",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        220
      ],
      "id": "e8db73bf-685d-4cad-8992-93b472550db4",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "5SCtYbbCr0w4vlmm",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"segments\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"start\": { \"type\": \"string\" },\n          \"end\": { \"type\": \"string\" }\n        },\n        \"required\": [\"start\", \"end\"],\n        \"additionalProperties\": false\n      }\n    }\n  },\n  \"required\": [\"segments\"],\n  \"additionalProperties\": false\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        800,
        220
      ],
      "id": "c7c2f868-7786-4d42-bead-598bdcb6ed03",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://n8napi-n8n.up.railway.app/trim",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "segments",
              "value": "={{ $json.output.segments }}"
            },
            {
              "name": "videoLink",
              "value": "={{ $('Google Drive').item.json.webViewLink }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        0
      ],
      "id": "898e2000-3b05-421d-9f94-c4ffd5f97d36",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        1340,
        0
      ],
      "id": "1085e347-aa53-43ec-bae6-0fb3cd8ed3a8",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "inputDataFieldName": "=file0",
        "name": "test.mp4",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1U0EOAl0xEdkYAWWu4eMCs_DUxu5lnZcG",
          "mode": "list",
          "cachedResultName": "nodeClip",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1U0EOAl0xEdkYAWWu4eMCs_DUxu5lnZcG"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        20
      ],
      "id": "e736769d-30c8-4cf3-b5a8-b1d465515ef9",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "bItmTGQPxsyYLXq2",
          "name": "Google Drive account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Transform video to base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform video to base64": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Gemini API with Video": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Call Gemini API with Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "607352b0-7957-4268-aefe-b2079c252431",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0f316193da0db605b660f9ea0f964fa8592da851612bc52c7b2bdc8efe2e531d"
  },
  "id": "jlMPbB0hBy7MeteF",
  "tags": []
}